# Keep the entries sorted to reduce the risk for a merge conflict
*.[ao]
*.dll
*.la
*.lo
*.exe
*.exp
*.lib
*.obj
*.orig
*~
.deps
.dirstamp
.libs
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build/
/config.cache
/config.log
/config.status
/config/compile
/config/config.guess
/config/config.sub
/config/depcomp
/config/install-sh
/config/ltmain.sh
/config/missing
/configure
/libtool
/m4/libtool.m4
/m4/lt*m4
/m4/version.m4
/testcase.couch
/vc100.idb
/vc100.pdb
config.h
config.h.in
core*
stamp-h1
tests/test_*
